In [23]:
# Tunnel Traffic is a time series describing the number of vehicles traveling through 
# the Baregg Tunnel in Switzerland each day from November 2003 to November 2005. In this example, 
# we'll get some practice applying linear regression to time-step features and lag features.

In [24]:
from pathlib import Path
from warnings import simplefilter

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [25]:
simplefilter("ignore")  # ignore warnings to clean up output cells

In [26]:
# Set Matplotlib defaults
plt.style.use("seaborn-v0_8-whitegrid")
plt.rc("figure", autolayout=True, figsize=(11, 4))
plt.rc(
    "axes",
    labelweight="bold",
    labelsize="large",
    titleweight="bold",
    titlesize=14,
    titlepad=10,
)
plot_params = dict(
    color="0.75",
    style=".-",
    markeredgecolor="0.25",
    markerfacecolor="0.25",
    legend=False,
)
%config InlineBackend.figure_format = 'retina'

In [31]:
# Load Tunnel Traffic dataset
data_dir = Path("../Datasets/TS_Course_Data/tunnel.csv")
# tunnel = pd.read_csv(data_dir / "tunnel.csv", parse_dates=["Day"])
tunnel = pd.read_csv(data_dir, parse_dates=["Day"])
tunnel.head()

         Day  NumVehicles
0 2003-11-01       103536
1 2003-11-02        92051
2 2003-11-03       100795
3 2003-11-04       102352
4 2003-11-05       106569

In [28]:
# Create a time series in Pandas by setting the index to a date
# column. We parsed "Day" as a date type by using `parse_dates` when
# loading the data.
tunnel = tunnel.set_index("Day")

In [29]:
# By default, Pandas creates a `DatetimeIndex` with dtype `Timestamp`
# (equivalent to `np.datetime64`, representing a time series as a
# sequence of measurements taken at single moments. A `PeriodIndex`,
# on the other hand, represents a time series as a sequence of
# quantities accumulated over periods of time. Periods are often
# easier to work with, so that's what we'll use in this course.
tunnel = tunnel.to_period()

In [30]:
tunnel.head()

            NumVehicles
Day
2003-11-01       103536
2003-11-02        92051
2003-11-03       100795
2003-11-04       102352
2003-11-05       106569